@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: #020617; /* slate-950 */
    color: #f8fafc; /* slate-50 */
    font-family: ui-sans-serif, system-ui, sans-serif;
    cursor: none;
  }

  * {
    cursor: none;
  }
}